<mat-card-content>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">
        <h1>Company Details</h1>
      </h5>
      <p class="card-text">
        We are an award-winning software company that helps businesses grow by
        providing customized and ready-made software solutions. ability to lead
        teams to execute on deliverables with excellence and transparency has
        bolstered In Time Tec’s position and reputation. Under Jeet’s
        leadership, In Time Tec has been recognized as the Best Place to Work in
        Idaho in the micro-company category, become an Inc. 5000 company, and
        grown to employ over 250 people at 6 offices in India and the United
        States.... became my good friends and business partners. We have focused
        on building a company that allows us to be our full and complete selves
        while offering that same opportunity to our employees. I love being part
        of a company that does what is right regardless of what it takes.”...
      </p>
      <img
        mat-card-image
        src="https://www.intimetec.com/hubfs/Compressed%20Images/Services/Services%20by%20Technology/Business%20Intelligence-1.webp"
        alt="Image"
        width="500"
        height="300"
      />
    </div>
  </div>
</mat-card-content>
