<div id="inner" class="mb-4 pb-5" style="max-width: 500px">
  <form [formGroup]="formValue" (ngSubmit)="onSubmit()">
    <div class="card mt-5 mb-8">
      <div class="card-header text-center">
        <h1>Employees Details</h1>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['firstName'].hasError('required') &&
              formValue.controls['firstName'].touched
            "
          >
            *First Name is required</span
          >
          <div
            class="text-danger"
            *ngIf="
              formValue.controls['firstName'].hasError('minlength') &&
              formValue.controls['firstName'].dirty
            "
          >
            Minimum
            {{formValue.controls['firstName'].errors?.['minlength'].requiredLength}}
            char required
          </div>
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['firstName'].hasError('pattern') &&
              formValue.controls['firstName'].dirty
            "
          >
            *Only Alphabet is allowed</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Last Name</label
          >
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            id="exampleInputPassword1"
          />
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['lastName'].hasError('required') &&
              formValue.controls['lastName'].touched
            "
          >
            *Last Name is required</span
          >
          <div
            class="text-danger"
            *ngIf="
              formValue.controls['lastName'].hasError('minlength') &&
              formValue.controls['lastName'].dirty
            "
          >
            Minimum
            {{formValue.controls['lastName'].errors?.['minlength'].requiredLength}}
            char required
          </div>
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['lastName'].hasError('pattern') &&
              formValue.controls['lastName'].dirty
            "
          >
            *Only Alphabet is allowed</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">email Id</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            id="exampleInputPassword1"
          />
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['email'].hasError('required') &&
              formValue.controls['email'].touched
            "
            >Email is Required</span
          >
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['email'].hasError('email') &&
              formValue.controls['email'].touched
            "
          >
            *Email is Invalid</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Mobile Number</label
          >
          <input
            type="tel"
            formControlName="mobileNumber"
            class="form-control"
            id="exampleInputPassword1"
          />
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['mobileNumber'].hasError('required') &&
              formValue.controls['mobileNumber'].touched
            "
          >
            *Mobile Number is required</span
          >
          <div
            class="text-danger"
            *ngIf="
              formValue.controls['mobileNumber'].hasError('minlength') &&
              formValue.controls['mobileNumber'].dirty
            "
          >
            Minimum
            {{formValue.controls['mobileNumber'].errors?.['minlength'].requiredLength}}
            number required
          </div>
          <div
            class="text-danger"
            *ngIf="
              formValue.controls['mobileNumber'].hasError('maxlength') &&
              formValue.controls['mobileNumber'].dirty
            "
          >
            MAXimum
            {{formValue.controls['mobileNumber'].errors?.['maxlength'].requiredLength}}
            number required
          </div>
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['mobileNumber'].hasError('pattern') &&
              formValue.controls['mobileNumber'].dirty
            "
          >
            *Only number is allowed</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Salary</label>
          <input
            type="Number"
            required
            formControlName="salary"
            class="form-control"
            id="exampleInputPassword1"
          />
          <span
            class="text-danger"
            *ngIf="
              formValue.controls['salary'].hasError('required') &&
              formValue.controls['salary'].touched
            "
          >
            *salary is required
          </span>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger" (click)="deleteEmployee()">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
