<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/dashboard']"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/employees']"
            >Employees</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.user.emailId.length == 0">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/login']"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="logout()"
            style="cursor: pointer"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
