<!-- <div class="card-header"></div> -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <img
    mat-card-image
    src="https://media-exp1.licdn.com/dms/image/C561BAQGAqp7524K6xA/company-background_10000/0/1644876178365?e=2159024400&v=beta&t=Y-TjEMnuv9q0ZRgMyXxvghTpaGq6ogqO-iltHQjP6_s"
    alt="Image"
    width="300"
    height="300"
  />
  <mat-card-content>
    <p>
      In 2009, five like-minded entrepreneurs wanted to start something more
      than just a business; they wanted to build a platform for Creating
      Abundance. Our story is what happens when people are truly committed to
      showing up powerfully in life. Our experienced team is full of passionate
      individuals who are dedicated to the contribution they can make in the
      world. We are here so you can live your dreams through our dreams; after
      all In Time Tec is a platform for Creating Abundance and we just happen to
      build software.
    </p>
  </mat-card-content>
</mat-card>
<br /><br />
<!-- Footer -->
<footer class="card bg-dark text-white">
  <div style="background-color: #6351ce">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          <h1>Intimetec visionsoft pvt ltd</h1>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          In Time Tec Sun Icon In Time Tec is an award-winning software
          development and IT company with locations throughout the US and India.
        </p>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">
          <h5>Products</h5>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>Cartos MPS Suite</p>
        <p>HP Workpath Applications</p>
        <p>TouchFree MFP</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">
          <h5>OUR WORK</h5>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>Your Account</p>
        <p>Become an Affiliate</p>
        <p>Shipping Rates</p>
        <p>Help</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">
          <h5>Contact</h5>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <mat-card>
    <div
      class="footer-copyright text-center py-4"
      style="background-color: #49484d"
    >
      © 2022 Copyright:
      <a href="https://Intimetec.com/"> www.Intimetec.com</a>
    </div>
    <!-- Copyright -->
  </mat-card>
</footer>
<!-- Footer -->
