<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Employees</h1>
    <div class="d-flex">
      <form class="d-flex" (submit)="onSearch(searchInput)">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Employee"
          aria-label="Search"
          #searchInput
        />
        <button class="btn btn-success mx-3" type="submit">Search</button>
      </form>
      <button class="btn btn-success" (click)="clearSearch(searchInput)">
        Clear
      </button>
    </div>
    <div class="d-flex">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-success"
      >
        Add employees
      </button>
    </div>
  </div>
</nav>
<table class="table mt-3 container">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Add.</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.mobileNumber }}</td>
      <td>{{ employee.salary | salary }}</td>
      <td>
        <a
          class="btn btn-info"
          [routerLink]="['/employeeDetails', employee.id]"
        >
          View
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formValue" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['firstName'].hasError('required') &&
                formValue.controls['firstName'].touched
              "
            >
              *First Name is required</span
            >
            <div
              class="text-danger"
              *ngIf="
                formValue.controls['firstName'].hasError('minlength') &&
                formValue.controls['firstName'].dirty
              "
            >
              Minimum
              {{formValue.controls['firstName'].errors?.['minlength'].requiredLength}}
              char required
            </div>
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['firstName'].hasError('pattern') &&
                formValue.controls['firstName'].dirty
              "
            >
              *Only Alphabet is allowed</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['lastName'].hasError('required') &&
                formValue.controls['lastName'].touched
              "
            >
              *Last Name is required</span
            >
            <div
              class="text-danger"
              *ngIf="
                formValue.controls['lastName'].hasError('minlength') &&
                formValue.controls['lastName'].dirty
              "
            >
              Minimum
              {{formValue.controls['lastName'].errors?.['minlength'].requiredLength}}
              char required
            </div>
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['lastName'].hasError('pattern') &&
                formValue.controls['lastName'].dirty
              "
            >
              *Only Alphabet is allowed</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Email Id</label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['email'].hasError('required') &&
                formValue.controls['email'].touched
              "
              >Email is Required</span
            >
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['email'].hasError('email') &&
                formValue.controls['email'].touched
              "
            >
              Email is Invalid</span
            >
            <span class="text-danger" *ngIf="emailMessage">
              This email is already taken
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile Number</label
            >
            <input
              type="tel"
              formControlName="mobileNumber"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['mobileNumber'].hasError('required') &&
                formValue.controls['mobileNumber'].touched
              "
            >
              *Mobile Number is required</span
            >
            <div
              class="text-danger"
              *ngIf="
                formValue.controls['mobileNumber'].hasError('minlength') &&
                formValue.controls['mobileNumber'].dirty
              "
            >
              Minimum
              {{formValue.controls['mobileNumber'].errors?.['minlength'].requiredLength}}
              number required
            </div>
            <div
              class="text-danger"
              *ngIf="
                formValue.controls['mobileNumber'].hasError('maxlength') &&
                formValue.controls['mobileNumber'].dirty
              "
            >
              MAXimum
              {{formValue.controls['mobileNumber'].errors?.['maxlength'].requiredLength}}
              number required
            </div>
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['mobileNumber'].hasError('pattern') &&
                formValue.controls['mobileNumber'].dirty
              "
            >
              *Only number is allowed</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input
              type="Number"
              required
              formControlName="salary"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                formValue.controls['salary'].hasError('required') &&
                formValue.controls['salary'].touched
              "
            >
              *salary is required
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" data-bs-dismiss="modal" class="btn btn-success">
            Add
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
