<div class="container">
  <div class="card">
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="row">
          <div class="">
            <h2 class="title">Login</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <label for="email">Email Id</label>
            <input
              class="form-control"
              type="email"
              placeholder="Please enter your email id "
              ngModel
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              required
              #emailId="ngModel"
            />
            <span
              *ngIf="emailId.hasError('required') && emailId.touched"
              style="color: red"
            >
              *Email is required</span
            >
            <span
              *ngIf="emailId.hasError('pattern') && emailId.dirty"
              style="color: red"
            >
              *Incorrect email address
            </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12 form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              placeholder="Enter your password"
              ngModel
              name="password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              required
              #password="ngModel"
            />
            <span
              *ngIf="password.hasError('required') && password.touched"
              style="color: red"
            >
              *password is required</span
            >
            <span
              *ngIf="emailId.hasError('pattern') && password.dirty"
              style="color: red"
            >
              *Incorrect Password</span
            >
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary mb-4">Login</button>
      </form>
      <a style="color: rgb(47, 11, 250); margin-top: 10px" routerLink="/signup"
        >Not registerd? <u>signup here</u></a
      >
    </div>
  </div>
</div>
