.container {
  display: grid;
  place-items: center;
  width: 410px;
  height: 420px;
}
.card {
  height: max-content;
  width: 410px;
  margin-top: 100px;
}
.title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: rgb(29, 7, 7);
}
