<p style="text-align: center">Employee-chart</p>
<div
  style="border: 1px solid black; margin-top: 10px; background-color: aliceblue"
>
  <div
    style="display: block"
    class="container-fluid"
    style="padding: 10px"
    class="mb-90"
  >
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
  </div>
</div>
