<div class="container" style="background-color: antiquewhite">
  <div class="card">
    <div class="card-body">
      <form #signupForm="ngForm" (ngSubmit)="signupUser(signupForm)">
        <div class="row">
          <div style="margin-bottom: -1rem">
            <h3 class="title">Sign Up</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group mt-4">
            <label for="email">Full Name</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your Full Name"
              ngModel
              name="fullname"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              required
              #fullname="ngModel"
            />
            <span
              *ngIf="fullname.hasError('required') && fullname.touched"
              style="color: red"
            >
              *Full name is required</span
            >
            <span
              *ngIf="emailId.hasError('pattern') && password.dirty"
              style="color: red"
            >
              *Please Enter a valid Name</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group mt-4">
            <label for="email">Email Id</label>
            <input
              class="form-control"
              type="email"
              placeholder="Enter Email"
              ngModel
              name="emailId"
              ngModel
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              required
              #emailId="ngModel"
            />
            <span
              *ngIf="emailId.hasError('required') && emailId.touched"
              style="color: red"
            >
              *password is required</span
            >
            <span
              *ngIf="emailId.hasError('pattern') && emailId.dirty"
              style="color: red"
            >
              *Please Enter a valid Email Id</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group mt-4">
            <label for="number">Phone Number</label>
            <input
              class="form-control"
              type="tel"
              placeholder="Enter Phone Number"
              ngModel
              name="phonenumber"
              ngModel
              pattern="(0|91)?[7-9][0-9]{9}"
              maxlength="10"
              minlength="10"
              required
              #phonenumber="ngModel"
            />
            <span
              *ngIf="phonenumber.hasError('required') && phonenumber.touched"
              style="color: red"
            >
              *Phone Number is required</span
            >
            <span
              *ngIf="phonenumber.hasError('pattern') && phonenumber.dirty"
              style="color: red"
            >
              *Please Enter a valid Number</span
            >
            <span
              class="text-danger"
              [style.display]="flagValidate ? 'block' : 'none'"
              >Phone Number required</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group mt-4">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              placeholder="Password"
              ngModel
              name="password"
              ngModel
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more"
              required
              #password="ngModel"
            />
            <span
              *ngIf="password.hasError('required') && password.touched"
              style="color: red"
            >
              *password is required</span
            >
            <span
              *ngIf="password.hasError('pattern') && password.dirty"
              style="color: red"
            >
              *Password Should be Upper case, lower case & special char
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group mt-4">
            <label for="password">Confirm Password</label>
            <input
              class="form-control"
              type="password"
              placeholder="confirm your password"
              ngModel
              name="cpassword"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
              #cpassword="ngModel"
            />
            <span
              *ngIf="cpassword.hasError('required') && cpassword.touched"
              style="color: red"
            >
              * Confirm password is required</span
            >
            <span
              *ngIf="cpassword.hasError('pattern') && cpassword.dirty"
              style="color: red"
            >
              *Password and Confirm Password Shoud Mathch</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <h3 class="mb-2 pb-1">Gender:</h3>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                ngModel
                value="Female"
                checked
                #inlineRadioOptions="ngModel"
              />
              <label class="form-check-label">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                ngModel
                value="Male"
                #inlineRadioOptions="ngModel"
              />
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                ngModel
                value="Other"
                #inlineRadioOptions="ngModel"
              />
              <label class="form-check-label">Other</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4 ml-2">Sign up</button>
        <button type="cancel" class="btn btn-danger mb-4 ml-2">Cancel</button>
        <a
          style="color: rgb(47, 11, 250); margin-top: 5px"
          [routerLink]="['/login']"
        >
          Allready registerd? <u>Login here</u></a
        >
      </form>
    </div>
  </div>
</div>
