.container {
  display: grid;
  place-items: center;
  background-color: antiquewhite;
}
.card {
  height: max-content;
  width: 510px;
  margin-top: 20px;
  background-color: #d7d5d3;
}
.title {
  text-align: center;
  font-weight: 600;
  color: rgb(29, 7, 7);
}
.btn {
  margin: 1rem;
}
